@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf");
}

:root {
  --text-color: #121212;
  --bg-color: #fff;
  --accent-color: #3793ff;
  --dock-bg: rgba(0, 0, 0, 0.05);
  --dock-border: rgba(0, 0, 0, 0.1);
  --dock-active-circle: transparent;
  --icon-filter: invert(0);
  
  --text-small: 18px;
  --text-medium: 24px;
  --text-large: 38px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

a {
  color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --dock-bg: rgba(255, 255, 255, 0.1);
    --dock-border: rgba(255, 255, 255, 0.1);
    --dock-active-circle: #1a1a1a;
    --icon-filter: invert(1);
  }
}

/* 3. Manual Override (This makes the toggle work) */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --dock-bg: rgba(255, 255, 255, 0.1);
  --dock-border: rgba(255, 255, 255, 0.1);
  --dock-active-circle: #1a1a1a;
  --icon-filter: invert(1);
}

[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #121212;
  --dock-bg: rgba(0, 0, 0, 0.05);
  --dock-border: rgba(0, 0, 0, 0.1);
  --dock-active-circle: transparent;
  --icon-filter: invert(0);
}
button {
  background: transparent;
  border: none;
  outline: none;
}
